<!--Formulario de Cadastro-->
<div class="container mt-3">
  <section>
    <div class="display-5">Formulário de Cadastro:</div>
    <form  #formAluno="ngForm" *ngIf="objAluno" id="formStudent">
      <!-- Faz com que a pagina nao recarregue -->
      <div class="mb-3 col-md-10 offset-1">
        <div class="row mt-3">
          <label for="inputName" class="form-label col-md-2">Nome :</label>
          <div class="col-md-10">
            <input type="text" class="form-control" name="nome" id="inputName" [(ngModel)]="objAluno.nome" required/>
          </div>
        </div>

        <div class="row mt-3">
          <label for="inputEmail" class="form-label col-md-2">Email:</label>
          <div class="col-md-5">
            <input type="email" class="form-control" id="inputEmail" name="email" [(ngModel)]="objAluno.email" required/>
          </div>
          <label for="inputPhone" class="form-label col-md-1">Telefone: </label>
          <div class="col-md-4">
            <input type="text" class="form-control" id="inputPhone" name="telefone" [(ngModel)]="objAluno.telefone" required/>
          </div>
        </div>

        <div class="row mt-3">
          <label for="inputCurso" class="form-label col-md-2">Cursos:</label>
          <div class="col-md-5">
            <select class="form-select" id="inputCourse" name="curso" [(ngModel)]="objAluno.curso">
              <option  *ngFor="let c of cursos" [ngValue]="c">
                {{ c.name }}
              </option>
            </select>
          </div>
        </div>

        <div class="row mt-3">
          <label class="form-label col-md-2">Turno:</label>
          <div class="d-flex col-2 flex-column">
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="RadioDefault"
                id="RadioDefault1"
                value="Manhã"
                [(ngModel)]="objAluno.turno"
              />
              <label class="form-check-label" for="RadioDefault1">
                Manhã
              </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="RadioDefault"
                id="RadioDefault2"
                value="Tarde"
                [(ngModel)]="objAluno.turno"
              />
              <label class="form-check-label" for="RadioDefault2">
                Tarde
              </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="RadioDefault"
                id="RadioDefault3"
                value="Noite"
                [(ngModel)]="objAluno.turno"
              />
              <label class="form-check-label" for="RadioDefault3">
                Noite
              </label>
            </div>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary offset-1" (click)="save()" [disabled]="formAluno.invalid">Cadastrar</button>
    </form>
    <hr />
  </section>
</div>
