
<!-- componente filho -->



<div class="container mt-3">
  <app-form [cursos]="cursos" [objAluno]="objAluno" (saveEmitter)="saveStudent()"></app-form>
            <section>
                <div class="display-5">Alunos Cadastrados:</div>
                <table class="table " id="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                        <th scope="col" class="d-none d-md-table-cell">Email</th>
                        <th scope="col" class="d-none d-md-table-cell">Telefone</th>
                        <th scope="col">Curso</th>
                        <th scope="col">Turno</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let  s of students"> <!--iterando cada objeto "s" dentro do array " students"-->
                          <td>{{s.id}}</td>
                          <td>{{s.nome}}</td>
                          <td>{{s.email}}</td>
                          <td>{{s.telefone}}</td>
                          <td>{{s.curso.name}}</td>
                          <td>{{s.turno}}</td>
                        </tr>

                    </tbody>
                  </table>
            </section>
       </div>
